apache-libcloud
awxkit
azure-cli-nspkg
azure-mgmt-authorization
azure-mgmt-automation
azure-mgmt-batch
azure-mgmt-cdn
azure-mgmt-compute
azure-mgmt-containerinstance
Babel
backports.entry-points-selectable
backports.ssl-match-hostname
charset-normalizer
colorama
configobj
distlib
et-xmlfile
file-magic
filelock
gnupg
httplib2
importlib-metadata
importlib-resources
iniparse
ipaddr
IPy
iscpy
kitchen
libcomps
meld3
monotonic
openpyxl
openshift
passlib
pathlib
platformdirs
psycopg2-binary
pyinotify
PyMySQL
pyping
pysftp
python-gitlab
python-string-utils
pyudev
requests-kerberos
requests-toolbelt
s3transfer
secure-smtplib
selectors2
selinux
setools
sos
sshtunnel
supervisor
typing
typing_extensions
urlgrabber
virtualenv
zipp
